<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sangeet App</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="128x128" href="./assets/images/music.png" />
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>
    <header>
        <span class="logo">Sangeet App</span>

    </header>
    <section class="constainer">
        <!-- click on queue track -->
        <div class="queueMore popupStyle hide">
            <a href="javascript:void(0)">Add to Favorite</a>
            <a href="javascript:void(0)">Add to Playlist</a>
        </div>

        <!-- click on playlist icon in queue -->
        <div class="playlistPop popupStyle hide">
            <a href="javascript:void(0)">Create New List</a>
            <a href="javascript:void(0)">Show List</a>
        </div>

        <!-- click on more indise of track and folders -->
        <div class="gridPop popupStyle hide">
            <a href="javascript:void(0)">Create New List</a>
            <a href="javascript:void(0)">Show List</a>
        </div>

        <!-- favoriteActive -->
        <div class="queuePanel shortView">
            <div class="queueHeader">
                <div class="queueTitle">Queue</div>
                <div class="loopQueue material-icons" title="loop">loop</div>
                <div class="shuffleQueue material-icons" title="Shuffle">shuffle</div>
                <div class="favQueue material-icons" title="Favorite">favorite</div>
                <div class="playlistBtn material-icons" title="PlayList">queue_music</div>
            </div>
            <div class="bodyQueue">
                <ul class="queueList defaultWrap"></ul>
                <ul class="queueList favoriteWrap">
                    <li class="defaultView">Favorite queue is empty</li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div id="playerEff"></div>
            <div id="container"></div>
        </div>
    </section>
    <footer>
        <div class="audioTrackWrap" draggable="true" id="draggableContent">
            <div class="audioTrack">
                <div class="currentPoint" id="musicBar">
                    <div class="draggable"></div>
                </div>
            </div>
        </div>
        <div class="currMusic">
            <div class="thumbWrap">
                <img id="musicThumbnil" src="" alt="img" />
            </div>
            <span id="musicTitile">Song Name</span>
        </div>
        <div class="musicState">
            <div id="musicEvent">
                <a href="javascript:void(0)"><span class="material-icons">skip_previous</span></a>
                <a href="javascript:void(0)"><span id="playPauseBtn"
                        class="material-icons">pause_circle_outline</span></a>
                <a href="javascript:void(0)"><span class="material-icons">skip_next</span></a>
            </div>
            <div class="timeEvent">
                <span class="currentTimeState" id="currTimeState">02:12</span>
                <span>/</span>
                <span class="totalTimeState" id="totTimeState">05:00</span>
            </div>
        </div>
        <div class="extraFeature">
            <a href="javascript:void(0)"><span id="muteBtn" class="material-icons">music_note</span></a>
            <!-- <span class="material-icons">music_off</span> -->
            <a href="javascript:void(0)"><span id="loopBtn" class="material-icons">repeat</span></a>
        </div>

    </footer>
    <script src="assets/js/app.js" type="module"></script>
    <!-- <script src="assets/js/socket.io/socket.io.js"></script>
    <script src="assets/js/socket.io-stream.js"></script> -->
    <!-- <script type="module" src="assets/js/bro-fs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/2.0.0/browserfs.js"></script> -->
</body>

</html>