<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanjeet App</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="128x128" href="./assets/images/music.png" />
    <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
    <header>
        <span class="logo">Sanjeet App</span>
        
    </header>
    <section class="constainer">
        <div class="queuePanel">
            <div class="queueTitle">Queue</div>
            <ul class="queueList">
                <li><a href="javascript:void(0)" ><img src="" alt="thumbnil" /></a></li>
                <li><a href="javascript:void(0)" ><img src="" alt="thumbnil" /></a></li>
                <li><a href="javascript:void(0)" ><img src="" alt="thumbnil" /></a></li>
            </ul>
        </div>
        <div class="main activePlayer">
            <div id="playerEff"></div>
            <div id="container"></div>
            <!-- Artists Group -->
            <!-- <div class="listGroup">
                <div class="title">Aarzoo-E-Rehmat Album</div>
                <ul class="listGrid">
                    <li class="listItem">
                        <a href="LINK" data-playist="playlist1-code">
                            <img src="./assets/images/arzoo-e-rahamat.jpg" alt="img" />
                            <div class="albumName">Aane Walon Yeh To Batao</div>
                        </a>
                    </li>
                    <li class="listItem">
                        <a href="LINK" data-playist="playlist2-code">
                            <img src="./assets/images/arzoo-e-rahamat.jpg" alt="img" />
                            <div class="albumName">Sab Se Owlah Wa Aalah</div>
                        </a>
                    </li>
                        </a>
                    </li>
                </ul>
            </div> -->
        </div>
    </section>
    <footer>
        <div class="audioTrackWrap" draggable="true" id="draggableContent">
            <div class="audioTrack">
                <div class="currentPoint" id="musicBar">
                    <div class="draggable"></div>
                </div>
            </div>
        </div>
        <div class="currMusic">
            <img id="musicThumbnil" src="" alt="img" />
            <span id="musicTitile">Song Name</span>
        </div>
        <div class="musicState">
            <div id="musicEvent">
                <a href="javascript:void(0)" ><span class="material-icons">skip_previous</span></a>
                <a href="javascript:void(0)"><span id="playPauseBtn" class="material-icons">pause_circle_outline</span></a>
                <a href="javascript:void(0)" ><span class="material-icons">skip_next</span></a>
            </div>
            <div class="timeEvent">
                <span class="currentTimeState" id="currTimeState">02:12</span>
                <span>/</span>
                <span class="totalTimeState" id="totTimeState">05:00</span>
            </div>
        </div>
        <div class="extraFeature">
            <a href="javascript:void(0)"><span id="muteBtn" class="material-icons">music_note</span></a>
            <!-- <span class="material-icons">music_off</span> -->
            <a href="javascript:void(0)"><span id="loopBtn" class="material-icons">repeat</span></a>
        </div>

    </footer>
    <script src="assets/js/app.js" type="module"></script>
    <script></script>
</body>
</html>