* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
/* img{display: block;} */

header {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #6e6e6e5b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 10;
    background-color: #fff;
}

.logo {
    font-weight: 500;
    letter-spacing: 1px;
}

.constainer {
    display: flex;
}

/* .queuePanel, .main {
    height: calc(100vh - 121px);
    overflow-y: auto;
} */
.queuePanel {
    position: fixed;
    top: 50px;
    left: 0px;
    /* left: -100px; */
    width: 350px;
    height: calc(100vh - 50px);
    background-color: #fff;
    padding: 15px 8px 8px;
    box-shadow: 1px 0px 8px 1px rgba(0, 0, 0, 0.22);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease-in;
    z-index: 9;
}

.queuePanel.activePlayer {
    height: calc(100vh - 121px);
    left: 0px;
}

.queueHeader {
    display: flex;
    border-bottom: 1px solid #6e6e6e5b;
    padding: 0px 0px 10px;
    margin-bottom: 10px;
}

.queueHeader .queueTitle {
    font-weight: 500;
    flex: 1;
    align-items: center;
    padding-right: 10px;
}

.queueHeader .loopQueue,
.queueHeader .shuffleQueue,
.queueHeader .favQueue,
.queueHeader .queueList {
    font-size: 20px;
    padding: 2px;
    margin: 0px 5px;
    cursor: pointer;
}

/* queue more btn */
.popupStyle {
    position: absolute;
    top: 135px;
    left: 345px;
    width: 200px;
    z-index: 10;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 3px 1px rgb(0 0 0 / 32%);
    padding: 10px 0px;
}

.popupStyle a {
    padding: 8px 10px;
    display: block;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
}

.popupStyle a:last-child {
    border-bottom: none;
}

.popupStyle a:hover {
    background-color: #f0f0f0;
}

/* queue more option btn */
.queueMore.hide {
    display: none;
}

/* playlist popup */
.playlistPop.popupStyle {
    top: 75px;
    left: 345px;
}

.playlistPop.hide {
    display: none;
}

/* grid popup more opt */
.gridPop.popupStyle {
    top: 120px;
    left: 245px;
}

.gridPop.hide {
    display: none;
}

/* .queueHeader */
.queueList li {
    padding-bottom: 8px;
}

.queueThumb,
.thumbWrap {
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #6d6d6d5b;
    width: 55px;
    height: 55px;
    flex: none;
}

.queueThumb img,
.thumbWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.queueList .queueItem {
    display: flex;
    align-items: center;
}

.queueItem .removeBtn,
.queueItem .moreOpt {
    margin-left: 4px;
    font-size: 18px;
    padding: 4px;
}

.queueItem .trackName {
    margin-left: 10px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    position: fixed;
    bottom: -71px;
    left: 0;
    width: 100%;
    height: 71px;
    border-top: 1px solid #6e6e6e5b;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    background-color: #fff;
    padding: 0 20px 0 8px;
    transition: all 0.3s ease-in;
}

footer.activePlayer {
    bottom: 0px;
}

footer .currMusic {
    display: flex;
    align-items: center;
    border-right: 1px solid #6e6e6e5b;
    padding-right: 20px;
    width: 300px;
}
footer .thumbWrap {
    margin-right: 10px;
}

footer .currMusic #musicTitile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

footer .musicState {
    display: flex;
    padding: 0px 15px;
    align-items: center;
}
footer .musicState .material-icons {
    font-size: 30px;
}

footer .extraFeature .material-icons {
    margin-left: 15px;
}

footer .extraFeature {
    flex-grow: 1;
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
footer .timeEvent {
    padding-left: 15px;
}

/* main body */
.main {
    padding: 65px 20px 71px 50px;
    width: 100%;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in;
}
.main.activePlayer {
    padding-left: 120px;
}
#playerEff {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 34%;
    z-index: -1;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    box-shadow: inset 0 -20px 188px 71px rgb(255 255 255);
}

.main:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(239 239 239 / 73%);
    backdrop-filter: blur(45px);
}

.listGroup {
    margin-bottom: 20px;
    position: relative;
}

.listGroup .title {
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid #6e6e6e5b;
    text-transform: capitalize;
}

.listGroup .listGrid {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.listGroup .listItem {
    padding: 20px 20px 20px 0px;
}

.listGroup .imgWrap {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    border-radius: 7px;
    position: relative;
    transition: all 0.3s;
}

.listGroup .imgWrap::after {
    content: 'play_circle_filled';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 60px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    /* background-color: rgba(0, 0, 0, 0.301); */
}

.listGroup .imgWrap:hover::after {
    visibility: visible;
    opacity: 1;
}

.listGroup .imgWrap:before,
.imgWrap .gridOpt {
    width: 37px;
    height: 37px;
    box-shadow: 0px 0px 9px 2px rgb(0 0 0 / 32%);
    padding: 4px;
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.2s;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 19px;
    color: #dc2929;
    box-sizing: border-box;
}

.listGroup.playlist .imgWrap:first-child::before {
    content: 'library_music';
    color: #1c74ce;
    /* background-image: url(../images/folder.png); */
    padding-left: 6px;
    padding-bottom: 6px;
    font-size: 20px;
}

.listGroup.tracks .imgWrap:first-child::before {
    content: 'audiotrack';
    /* background-image: url(../images/music.png); */
}

.listGroup .imgWrap:hover::before {
    top: -50px;
    right: -50px;
}

.imgWrap .gridOpt {
    content: '';
    visibility: visible;
    opacity: 1;
    padding: 3px;
    font-size: 19px;
    color: #000;
    width: 32px;
    height: 32px;
    top: -50px;
    right: -50px;
    z-index: 10;
    cursor: pointer;
}

.imgWrap:hover .gridOpt {
    right: -10px;
    top: -10px;
}

.imgWrap .gridOpt::before {
    content: 'more_vert';
}

.imgWrap.active .gridOpt::before {
    content: 'more_vert';
    display: none;
}

.imgWrap.active .gridOpt {
    width: 140%;
    height: 140%;
    right: -40px;
    top: -40px;
    transition: all 0.3s;
    backdrop-filter: blur(4px);
    background-color: #fff6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.imgWrap.active:hover .gridOpt {
    right: -40px;
    top: -40px;
}

.listGroup .imgWrap.active:before,
.listGroup .imgWrap.active::after {
    visibility: hidden !important;
    opacity: 0 !important;
}

.listGroup .listItem a {
    width: 200px;
}

.listGroup .listItem .songImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

.listGroup .albumName {
    padding-top: 5px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

/* audio track */
.audioTrackWrap {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: 10px;
    cursor: pointer;
}
.audioTrack {
    width: 100%;
    height: 4px;
    background: #c4c4c4;
}

.audioTrack .currentPoint {
    background: #ff0000;
    width: 50%;
    height: 100%;
    position: relative;
}

.audioTrack .currentPoint .draggable {
    position: absolute;
    right: -6px;
    top: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 11;
    background: #ff0000;
    box-shadow: inset 3px -2px 7px 0px #ffffffb5;
    border: 1px solid #ffffffa6;
    visibility: hidden;
}

.audioTrackWrap:hover .currentPoint .draggable {
    visibility: visible;
}

.hideGroup {
    display: none;
}

.backBtn {
    position: absolute;
    left: -38px;
    top: -4px;
    font-size: 20px;
    border-radius: 50%;
    padding: 3px;
    color: #ababab;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid #9f9f9f;
}

.backBtn:hover {
    background-color: #e73838;
    border-color: #e73838;
    color: #fff;
}

.myFav,
.favPlaylist,
.closeBtn {
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}

.closeBtn{
    transition: all .7s;
}

.imgWrap.active .myFav,
.imgWrap.active .favPlaylist,
.imgWrap.active .closeBtn {
    visibility: visible;
    opacity: 1;
}

.myFav::after {
    content: 'favorite';
}
.favPlaylist::after {
    content: 'playlist_add';
}
.closeBtn::after {
    content: 'cancel';
}

.imgWrap .closeBtn {
    position: absolute;
    right: -50px;
    top: -50px;
    color: #000;
}

.imgWrap.active .closeBtn {
    right: 44px;
    top: 44px;
}

.imgWrap .myFav,
.imgWrap .favPlaylist {
    margin: 10px;
    padding: 2px;
    color: #dc292a;
    font-size: 44px;
}

.imgWrap .favPlaylist {
    color: #000;
}


/* shortView Of queue */
.shortView {
    width: 71px;
}

.queueItem .trackName,
.queueItem .removeBtn,
.queueItem .moreOpt {
    transition: all .1s;
}

.queueItem.shortView .trackName,
.queueItem.shortView .removeBtn,
.queueItem.shortView .moreOpt {
    visibility: hidden;
    opacity: 0;
}